<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <servlet-name>RegisterProc</servlet-name>
    <servlet-class>RegisterProc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginProc</servlet-name>
    <servlet-class>LoginProc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogoutProc</servlet-name>
    <servlet-class>LogoutProc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ConfirmId</servlet-name>
    <servlet-class>ConfirmId</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MakeMatchProc</servlet-name>
    <servlet-class>MakeMatchProc</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateG</servlet-name>
    <servlet-class>UpdateG</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>ReaderG</servlet-name>
    <servlet-class>ReaderG</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterProc</servlet-name>
    <url-pattern>/RegisterProc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginProc</servlet-name>
    <url-pattern>/LoginProc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ConfirmId</servlet-name>
    <url-pattern>/ConfirmId</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutProc</servlet-name>
    <url-pattern>/LogoutProc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MakeMatchProc</servlet-name>
    <url-pattern>/MakeMatchProc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateG</servlet-name>
    <url-pattern>/UpdateG</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>ReaderG</servlet-name>
    <url-pattern>/ReaderG</url-pattern>
  </servlet-mapping>
</web-app>